<section class="container-fluid">
    <section class="row justify-content-center">
        <section class="col-12 col-sm-6 col-md-3">
         <form #userForm="ngForm" (ngSubmit)="onSubmit()" class="form-container">
            <h3 style="text-align: center;">User Registration</h3>
             <div class="form-group">
               <label for="firstName">First Name</label>
               <input type="text" id="firstName" class="form-control" autocomplete="off" name="firstName" ngModel required #firstName="ngModel"> 
               <div class="form-text text-muted" *ngIf="firstName.touched && !firstName.valid">
                  <div class="text-danger">First Name is required</div>
               </div>
            </div>
             <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" id="lastName" class="form-control" autocomplete="off" name="lastName" ngModel required #lastName="ngModel">
                <div class="form-text text-muted" *ngIf="lastName.touched && !lastName.valid">
                  <div class="text-danger">Last Name is required</div>
               </div>
             </div>
             <div class="form-group">
                <label for="phNo">Phone Number</label>
                <input type="tel" id="phNo" class="form-control" name="phoneNumber" ngModel autocomplete="off" required #phoneNumber="ngModel" minlength="10" pattern="[0-9]+" maxlength="10">
                <div class="form-text text-muted" *ngIf="phoneNumber.touched && !phoneNumber.valid">
                  <div *ngIf="phoneNumber.errors.required" class="text-danger">Phone Number is required</div>
                  <div *ngIf="phoneNumber.errors.pattern" class="text-danger">Invalid Phone Number</div>
               </div>
             </div>
             <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" name="password" ngModel required #password="ngModel" minlength="6">
                <div class="form-text text-muted" *ngIf="password.touched && !password.valid">
                  <div *ngIf="password.errors.required" class="text-danger">Password is required</div>
                  <div *ngIf="password.errors.minlength" class="text-danger">Password should contain atleast 6 characters</div>
               </div>
               </div>
             <div class="form-group">
                <label for=" confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" class="form-control" name="confirmPassword" ngModel required #confirmPassword="ngModel">
                <div class="form-text text-muted" *ngIf="confirmPassword.touched && !confirmPassword.valid">
                  <div *ngIf="confirmPassword.errors.required" class="text-danger">Confirm Password is required</div>
               </div>
               <div *ngIf="confirmPassword.valid && confirmPassword.value != password.value" class="text-danger"> Entered password do not match</div>
             </div>
             <div class="form-group">
              <label for=" address">Address</label>
              <input type="text" id="address" class="form-control" name="address" ngModel autocomplete="off">
             </div>
             <div class="form-group">
              <label for=" pincode">Pincode</label>
              <input type="text" id="pincode" class="form-control" name="pincode" ngModel autocomplete="off" required #pincode="ngModel" maxlength="6" pattern="[0-9]+">
              <div class="form-text text-muted" *ngIf="pincode.touched && !pincode.valid">
               <div *ngIf="pincode.errors.required" class="text-danger">Pincode is required</div>
            </div>
             </div>
             <button type="submit" class="btn btn-primary ">Sign Up</button>
         </form>
        </section>
    </section>
  <!-- <h3>hello</h3> -->
</section>

<!---
ngForm directives should bind with ngModel
-->



