<button id="aaa"><p >Please Fill the form to add Item in your NGO</p></button>
<div class="container">
    <form class="jj">
  
      <label for="fname">Food ItemName</label>
      <input type="text" id="fname" name="foodItem" placeholder="Your  food name.." required >
  
  
      <label for="Price">Price Of Product </label>
      <input type="number" id="price" name="price" placeholder="enter the price.." required>
      &nbsp;&nbsp;
      
      <label for="Description">Description</label>
      <textarea id="Description" name="Description" placeholder="Write something.." style="height:200px"></textarea>
      <label for="Free/Paid">Free/Paid</label>
    <select id="Free/Paid" name="Free/Paid">
        <option value="Free"></option>
      <option value="Free">Free</option>
      <option value="Paid">Paid</option>
      </select>
      <label for="img">Select image to Upload:</label>
      
      <div>
      <input type="file" id="img" name="img" accept="image/*">
      </div>
    <div style="text-align: center;">
 <input  type="submit" value="ADD">
    </div>
  
    </form>
  </div>
