

<div class="topnav">
    <a class="active" href="#"><h1>Food App Master</h1></a>
   
    <div class="search-container">
      <form >
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </div>
  <button type="button" class="btn btn-primary">My Orders</button>
  <div class="card-page">
    <div class="row">
    
    <div class="card" style="width: 18rem; background-color: coral;">
      <img class="card-img-top" src=".jpg" alt="Food Image Order">
      <div class="card-body">
        <p >Order Id: <span></span></p>
        <p >Item : <span></span></p>
        <p >Ngo Name: <span></span></p>
        <p >status: <span></span></p>
        <button >Cancel</button>
    
      </div>
    </div>
    
    <div class="card" style="width: 18rem;background-color:olivedrab;">
        <img class="card-img-top" src=".jpg" alt="Food Image Order">
        <div class="card-body">
            <p >Order Id: <span></span></p>
            <p >Item : <span></span></p>
            <p >Ngo Name: <span></span></p>
            <p >status: <span></span></p>
            <button >Cancel</button>
      
        </div>
      </div>
      
    <div class="card" style="width: 18rem;background-color:salmon;">
        <img class="card-img-top" src=".jpg" alt="Food Image Order">
        <div class="card-body">
            <p >Order Id: <span></span></p>
            <p >Item : <span></span></p>
            <p >Ngo Name: <span></span></p>
            <p >status: <span></span></p>
            <button >Cancel</button>
      
        </div>
      </div>
      
    <div class="card" style="width: 18rem;background-color:cadetblue;">
        <img class="card-img-top" src=".jpg" alt="Food Image Order">
        <div class="card-body">
            <p >Order Id: <span></span></p>
            <p >Item : <span></span></p>
            <p >Ngo Name: <span></span></p>
            <p >status: <span></span></p>
            <button >Cancel</button>
      
        </div>
      </div>
      
    <div class="card" style="width: 18rem;background-color:darkslategray;">
        <img class="card-img-top" src=".jpg" alt="Food Image Order">
        <div class="card-body">
            <p >Order Id: <span></span></p>
            <p >Item : <span></span></p>
            <p >Ngo Name: <span></span></p>
            <p >status: <span></span></p>
            <button >Cancel</button>
      
        </div>
      </div>
      
    <div class="card" style="width: 18rem;background-color:saddlebrown">
        <img class="card-img-top" src=".jpg" alt="Food Image Order">
        <div class="card-body">
            <p >Order Id: <span></span></p>
            <p >Item : <span></span></p>
            <p >Ngo Name: <span></span></p>
            <p >status: <span></span></p>
            <button >Cancel</button>
      
        </div>
      </div>
    
    
    </div>
    
    </div>