
<ul >
    <li><a href="#">Food App Master</a></li>
   <div class="b">
    <li style="float:right"><a class="active" href="#"><h4>Order Request</h4></a></li>
   </div>
  </ul>
<div class="sidenav">
  
    <a routerLink="breakfast" class="nav-link"> Add breakfast</a>
    <a routerLink="lunch" class="nav-link"> Add Lunch</a>
    <a routerLink="dinner" class="nav-link"> Add Dinner</a>
    <a routerLink="myorders" class="nav-link"> My Orders</a>
  </div>

<div class="container">
    <router-outlet></router-outlet>
</div>




